<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".OnlineTtsApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlineTTS">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.OnlineTTS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SettingsEntryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.speech.tts.engine.CHECK_TTS_DATA" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.speech.tts.engine.INSTALL_TTS_DATA" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.GetSampleTextActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.speech.tts.engine.GET_SAMPLE_TEXT" />
            </intent-filter>
        </activity>

        <service
            android:name=".tts.engine.OnlineTtsService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_TTS_ENGINE">
            <intent-filter>
                <action android:name="android.intent.action.TTS_SERVICE" />
            </intent-filter>
            <meta-data
                android:name="android.speech.tts"
                android:resource="@xml/tts_engine" />
        </service>

    </application>

</manifest>
